* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background: rgb(189, 178, 28);
  margin-bottom: 2.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .navbar-logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
  }

  .navbar-nav {
    display: flex;
    list-style: none;

    .option {
      text-decoration: none;
      padding: 1rem;
      color: #fff;

      &:hover {
        text-shadow: 2px 2px 4px #000;
      }
    }
  }
}

// CONTAINER
.container {
  width: 75%;
  margin: 0 auto;
}
